@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-size: 1vw;
}
@media screen and (min-width: 1800px) {
  html {
    font-size: 17px;
  }
}

body {
  color: #444;
  overflow-x: hidden;
  font-family: "UTM Helve";
  overscroll-behavior: none;
}
