.list_solutions{
    li {
        list-style-type: disc;
        &::marker{
            font-size: 1rem;
            @media screen and (max-width :767px) {
                font-size: 3rem;
            }
        }
    }
    ul{
        padding-left: 2rem;
        @media screen and (max-width :767px) {
            padding-left: 7rem;
        }
    }
}

.content-flexo, .content_other_print{
    p:first-child{
        @media screen and (min-width:768px) {
            margin-bottom: 1.5rem;
        }
    }
}
